/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg-custom-gradient {
  background: linear-gradient(to bottom, #092635, #1B4242);
}

.bg-custom-gradient2 {
  background: linear-gradient(to bottom, #1B4242, #092635);
}

.bg-custom-gradient3 {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.michroma-font {
  font-family: 'Michroma', sans-serif;
}

/* Additional custom styles can go here */

.bg-custom-gradient3{
  background: linear-gradient(to bottom, #9EC8B9, #5C8374);
}

@keyframes text-change {
  0%, 50% {
    content: "UX/UI DESIGNER";
  }
  50%, 100% {
    content: "WEB DEVELOPER";
  }
}

.animate-text-change {
  position: relative;
  overflow: hidden;
}

.ux-ui-designer, .web-developer {
  position: absolute;
  width: 100%;
  opacity: 0;
  animation: text-change 10s infinite;
}

.ux-ui-designer {
  animation-delay: 0s;
}

.web-developer {
  animation-delay: 5s;
}
